
// Property Variables


$font-stack: Lato, serif;
$primary-color: black;
$background-color: #407F7F;

.row {
  border: 1px solid black;
  }

html body {
  font: 100% $font-stack;
  background-color: $background-color;
  color: $primary-color;
  font-size: 1em;
}

@import "songList";
@import "nav";
@import "controlBox";
@import "songInput";

// Main Color List
// see the color palette here
//  Palette URL: http://paletton.com/#uid=52l0+0kaBqHds-2amvsa0nv8FkJ */

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=13i0u0kllllaFw0g0qFqFg0w0aF */

// As hex codes */

$color-primary-0: #226666;  // Main Primary color */
$color-primary-1: #669999;
$color-primary-2: #407F7F;   // Main page background
$color-primary-3: #0D4D4D;   //navbar background 
$color-primary-4: #003333;




